<form>
<button = "btn btn-default" formaction ="{{url_for('add_one')}}">Add</button>
</form>

<form>
    <button = "btn btn-default" formaction ="{{url_for('add_many')}}">Add many</button>
</form>

<table><center>
    {%for i in players%}
        <tr>
            <td>Name: {{i.name}}</td>
            <td>Team: {{i.team}}</td>
            {% if i.url != "" and i.url%}
                <td><img src= {{i.url}} alt= {{i.name}} width="10%"
                    height="10%"><td>
            {% endif%}
        </tr>
    {%endfor%} 
</center>
</table>

